.container {
    background-color: violet;
    width: 320px;
    height: 320px; 
}

.content-clock {
    width: 320px;
    height: 320px;
    background-color: white;
    border-radius: 50%;
}

.clock {
    width: 310px;
    height: 310px;
    margin-top: 6px;
    margin-left: 7px;
}

.point {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: blueviolet;
    top: 152px;
    left: 152px;
    transform-origin: 50% 100%;
    border-radius: 50%;
} 

.content-seg {
    position: absolute;
    animation: rotation 60s infinite linear;
    top: 165px;
    left: 165px;
   
}

.secs {
  width: 5px;
  height: 150px;
  position: absolute;
  background-color: purple;
  transform-origin: 150px 30px;
}


.content-min {
    position: absolute;
    animation: rotation 3600s infinite linear;
    top: 165px;
    left: 165px;
}

.min {
    width: 5px;
    height: 120px;
    position: absolute;
    background-color:peru;
    transform-origin: 150px 30px;
}

.content-hour {
    position: absolute;
    animation: rotation 43200s infinite linear;
    top: 165px;
    left: 165px;
}

.hour {
    width: 100px;
    height: 5px;
    position: absolute;
    background-color:powderblue;
    transform-origin: 150px 30px;
}

@keyframes rotation {
    100% {
        transform: rotateZ(360deg);
    }
}
