.container {
    height: 900px;
    width: 900px;
    background-color: violet;
    display : flex;
}

.cuadro1 {
    height: 400px;
    width: 400px;
    justify-content: flex-start;
    flex-direction: row;
    background-color: purple;
}

.cuadro2 {
    height: 400px;
    width: 400px;
    background-color: pink;
    justify-content: flex-start;
    align-items: flex-start;

}

@media screen and (max-width: 600px) {

    .container {
        height: 900px;
        width: 900px;
        background-color: violet;
        flex-direction: column;
    }
    .cuadro2{
        background-color: plum; 

    }
}